<md-content flex layout>
  <div layout-gt-sm flex flex-gt-sm="80" flex-gt-md="80">
     <md-card>
       <img ng-src="{{repoInfo.data.owner.avatar_url}}" alt="{{repoInfo.data.owner.login}}">
       <md-card-title>
         <md-card-title-text>
           <span class="md-headline"><span>{{repoInfo.data.owner.login}}</span>
           <span ng-show="repoInfo.data.name">
             ({{repoInfo.data.name}})
           </span></span>
         </md-card-title-text>
       </md-card-title>
       <md-card-content>
         <p>
           <ul class="no-bullets">
             <li>
                 <b>{{repoInfo.data.watchers}}</b>
                 <ng-pluralize count="repoInfo.data.watchers" when="watchForms"></ng-pluralize>
             </li>
             <li>
                 <b>{{repoInfo.data.forks}}</b>
                 <ng-pluralize count="repoInfo.data.forks" when="forkForms"></ng-pluralize>
             </li>
           </ul>
         </p>
       </md-card-content>
       <md-card-actions layout="row" layout-align="center">
            <md-button class="md-fab" aria-label="arrow back">
           <a ng-href="#!/github/{{repoInfo.data.owner.login}}/"><i class="material-icons">arrow_back</i></a>
       </md-button>
         <md-button class="md-fab md-primary" aria-label="code github">
           <a ng-href="{{repoInfo.data.html_url}}" target="_blank"><i class="material-icons">code</i></a>
        </md-button>
       </md-card-actions>
     </md-card>

    <ul class="no-bullets">
      <h2 ng-show="contributors.data.length">Project Contributors ({{contributors.data.length}})</h2>
      <h2 ng-hide="contributors.data.length">Github API Call limit reached, try again in 3 minutes ...</h2>
        <li ng-repeat="contributor in contributors.data">
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">   <a ng-href="#!/github/{{contributor.login}}/" title="{{contributor.login}} has {{contributor.contributions}} Contributions">
                                 <img ng-src="{{contributor.avatar_url}}" alt="{{contributor.login}}">
                                 <span>{{contributor.login}}</span>
                                 <span>{{contributor.contributions}}</span>
                               </a></span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-lg card-media"></div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">

                    </md-card-actions>
                </md-card>
        </li>
    </ul>
</md-content>
