<md-content flex layout>
  <div layout-gt-sm flex flex-gt-sm="80" flex-gt-md="80">
     <md-card>
       <img ng-src="{{user_info.data.avatar_url}}" alt="{{user_info.data.login}}">
       <md-card-title>
         <md-card-title-text>
           <span class="md-headline"><span>{{user_info.data.login}}</span>
           <span ng-show="user_info.data.name">
             ({{user_info.data.name}})
           </span></span>
         </md-card-title-text>
       </md-card-title>
       <md-card-content>
         <p>
           <ul class="no-bullets">
               <li >
                   <b>{{user_info.data.public_repos}}</b>
                   <ng-pluralize count="user_info.data.public_repos" when="publicRepoForms"></ng-pluralize>
               </li>
               <li>
                   <b>{{user_info.data.followers}}</b>
                   <ng-pluralize count="user_info.data.followers" when="followerForms"></ng-pluralize>
               </li>
           </ul>
         </p>
       </md-card-content>
       <md-card-actions layout="row" layout-align="center">
            <md-button class="md-fab" aria-label="arrow back">
           <a ng-href="#!/"><i class="material-icons">arrow_back</i></a>
       </md-button>
         <md-button class="md-fab md-primary" aria-label="code github">
           <a ng-href="{{user_info.data.html_url}}" target="_blank"><i class="material-icons">code</i></a>
        </md-button>
       </md-card-actions>
     </md-card>


    <ul class="no-bullets">
      <h2 ng-show="repos.data[0].name">Public Repositories</h2>
      <h2 ng-hide="repos.data[0].name">Github API Call limit reached, try again in 3 minutes ...</h2>
        <li ng-repeat="repo in repos.data | orderBy:'-watchers'">
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline"><a ng-href="#!/github/{{repo.full_name}}">{{repo.name}}</a></span>
                            <span class="md-subhead">{{repo.description}}</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-lg card-media"></div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button>{{repo.language}}
                            </md-button>
                                <md-button> <b>{{repo.watchers}}</b>
                                    <span>
                                <ng-pluralize count="repo.watchers" when="watchForms"></ng-pluralize>
                        </span></md-button>
                                <md-button> <b>{{repo.forks}}</b>
                                    <span>
                                  <ng-pluralize count="repo.forks" when="forkForms"></ng-pluralize>
                            </span></md-button>
                    </md-card-actions>
                </md-card>
        </li>
    </ul>
</md-content>
