

<section layout="column" layout-sm="column" layout-margin>
  <form ng-submit="userSearch()">
              <md-input-container>
                <label>Search</label>
                <input ng-model="user" value="{{user}}">
              </md-input-container>
              <md-button class="md-raised md-primary" type="submit" >Show Repositories</md-button>
  </form>
  <md-chips>
 <md-chip>angular</md-chip>
 <md-chip>reactjs</md-chip>
 <md-chip>vuejs</md-chip>

 <!-- Static chips are transcluded -->
 <md-chip>protractor: kill others, success first ...</md-chip>
</md-chips>
</section>
